body {
  font-family: monospace, sans-serif, "Segoe UI", Tahoma, Verdana;
  font-size: 14px;
  background-color: #ff0000;
}

.container {
  min-width: 350px;
  min-height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #0e0f12;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}
